
/* ESTILO DE TODA LA PAGINA */
*{
margin: 0;
padding: 0;
font-family: Roboto ,sans-serif;
box-sizing: border-box;
}


/* ANIMACIONES */



#parrafoheader.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
    
}

#botonheader.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
    
}

#knowanime.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
    
}

#title-aboutanime.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
    
}

#parrafo-aboutanime.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
    
}

#button-leanmore-animete.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
    
}

#video-about-anime.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#our-tablet.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#know-desktop.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#title-desktop-about.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#parrafo-desktop-about.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#video-desktop-about.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#learn-more-desktop.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#services-title.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#services-title2.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#item-services-tablet.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#article1-projects-mobile-scroll.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#article2-projects-mobile-scroll.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#item-projects-tablet-scroll.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#article-2-scroll.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

#article-3-scroll.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#item-services-desktop-scroll.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out; 
}

#item-projects-desktop-scroll.move{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s ease-in-out;
}

/*ANIME*/


#parrafoheader.anime{
    transform: translateY(0);
    opacity: 1;
}

#botonheader.anime{
    transform: translateY(0);
    opacity: 1;
}

#knowanime.anime{
    transform: translateY(0);
    opacity: 1;
}

#title-aboutanime.anime{
    transform: translateY(0);
    opacity: 1;
}

#parrafo-aboutanime.anime{
    transform: translateY(0);
    opacity: 1;
}

#button-leanmore-animete.anime{
    transform: translateY(0);
    opacity: 1;
}

#video-about-anime.anime{
    transform: translateY(0);
    opacity: 1;
}

#our-tablet.anime{
    transform: translateY(0);
    opacity: 1;
}

#know-desktop.anime{
    transform: translateY(0);
    opacity: 1;
}

#title-desktop-about.anime{
    transform: translateY(0);
    opacity: 1;
}

#parrafo-desktop-about.anime{
    transform: translateY(0);
    opacity: 1;
}

#video-desktop-about.anime{
    transform: translateY(0);
    opacity: 1;
}

#learn-more-desktop.anime{
    transform: translateY(0);
    opacity: 1; 
}

#services-title.anime{
    transform: translateY(0);
    opacity: 1; 
}

#services-title2.anime{
    transform: translateY(0);
    opacity: 1; 
}

#item-services-tablet.anime{
    transform: translateY(0);
    opacity: 1; 
}

#article1-projects-mobile-scroll.anime{
    transform: translateY(0);
    opacity: 1; 
}

#article2-projects-mobile-scroll.anime{
    transform: translateY(0);
    opacity: 1; 
}

#item-projects-tablet-scroll.anime{
    transform: translateY(0);
    opacity: 1;
}

#article-2-scroll.anime{
    transform: translateY(0);
    opacity: 1;
}

#article-3-scroll.anime{
    transform: translateY(0);
    opacity: 1;
}

#item-services-desktop-scroll.anime{
    transform: translateY(0);
    opacity: 1; 
}

#item-projects-desktop-scroll.anime{
    transform: translateY(0);
    opacity: 1;  
}

/*TERMINA LAS ANIMACIONES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* ESTILO DEL NAV MOBILE */
nav{
    background:#293A4A;
}

.contenedor-nav-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contenedor-nav-mobile img{
    flex-wrap: wrap 
}

.logo-mobile{
    margin-top: 21px;
    margin-left: 29px;
    margin-bottom: 21px;
}

.list-mobile{
   margin-right: 33px;
   cursor: pointer;
   transition: ease-in-out 0.3s;
}

.list-mobile:hover{
    transform: scale(1.2);
}

nav .ul-mobile{
    background:#212F3D;
    display: none;
    text-align: center;
    
}

nav .ul-mobile li{
    padding: 10px;
    cursor: pointer;
    color: white;
}

nav .ul-mobile li a{
   cursor: pointer;
}

.container-nav-tabletydesktop{
    display: none;
}

/* TERMINA ESTILO DEL NAV MOBILE */


/* COMIENZA ESTILO DEL HEADER MOBILE */

.header-mobile{
    position: relative;
}

.header-mobile h1{
    max-width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: -40px;
    color: #293A4A;
    font-size: 32px;
}

.content-img-mobile{
    text-align: center;
}

.content-button-mobile{
 position: absolute;
 top:390px;
 left: 50px;
    
}

.content-button-mobile button{
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    font-weight: bold;
    background: #293A4A;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.content-button-mobile button:hover{
   background: #D4E617;
   color: #293A4A;

}

.header-img-tablet{
    display: none;
}

 .header-tablet{
        display: none;
}

/* TERMINA ESTILO DEL HEADER MOBILE */


/* COMIENZA EL ESTILO DE ABOUT MOBILE */

.about{
    background: #293A4A;
    height: auto;
    padding-bottom: 44px;
}

.about-mobile{
    margin-top: 35px; 
}

.about-mobile article:nth-child(1){
    display: flex;
    padding-top: 29px;
    align-items: center;
}

.about-mobile article:nth-child(1) div:nth-child(1){
    margin-left: 31px;
    margin-right: 14px;
    width: 39px;
    height: 2px; 
    background: #D4E617;
}

.about-mobile article:nth-child(1) div:nth-child(2) p{
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.about-mobile article:nth-child(2) h1{
    margin-top: 35px;
    font-size: 22px;
    color: white;
    max-width: 325px;
    margin-left: 31px;
}

.about-mobile article:nth-child(3) p{
    margin-top: 31px;
    margin-left: 31px;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    max-width: 425px;  
}

.about-mobile article:nth-child(4) div{
    margin-top: 51px;
    margin-left: 31px;
}

.about-mobile article:nth-child(4) div button{
    padding: 10px 25px;
    font-size: 16px;
    background: #D4E617;
    color:#293A4A;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    transition: all .5s;
}

.about-mobile article:nth-child(4) div button:hover{
    background: white;
    color: #293A4A;
}

.about-mobile article:nth-child(5) div{
    margin-top: 76px;
    text-align: center;
}

.about-mobile article:nth-child(6){
    margin-left: 31px;
    margin-top: 46px;
    color: white;
    font-weight: 600;
}

.about-mobile article:nth-child(6) div{
    text-align: center;
    margin-top: 40px;
}

.about-tablet{
    display: none;
}

.about-desktop{
    display: none;
}

/* TERMINA EL ESTILO DE ABOUT MOBILE */


/* COMIENZA EL ESTILO DE SERVICES MOBILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.services-mobile{
    margin: 42px 26px;
}


/* parte 1 mobile */
.services-mobile .article-1-services-mobile{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 72px;
   
}

.services-mobile .linea-amarilla-services-mobile{
    width: 72px;
    height: 2px;
    background: #D4E617;
    margin-right: 24px;
}

.services-mobile .titulo-linea-amarilla-mobile{
    color: #293A4A;
    font-size: 16px;
    font-weight: 700;
}

/* parte 2 mobile */

.services-mobile  .titulo-mobile p{
    color: #293A4A;
    font-size: 22px;
    font-weight: 700;
   
}

/* parte 3 mobile */
.item-1-mobile div:nth-child(1),
.item-2-mobile div:nth-child(1),
.item-3-mobile div:nth-child(1),
.item-4-mobile div:nth-child(1),
.item-5-mobile div:nth-child(1),
.item-6-mobile div:nth-child(1){
   margin-right: 45px;
}

.item-1-mobile, .item-2-mobile,
.item-3-mobile, .item-4-mobile,
.item-5-mobile, .item-6-mobile{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin: 60px 0;
}

.item-1-mobile h4, .item-2-mobile h4,
.item-3-mobile h4, .item-4-mobile h4,
.item-5-mobile h4, .item-6-mobile h4{
    color: #293A4A;
}

.item-1-mobile p, .item-2-mobile p,
.item-3-mobile p, .item-4-mobile p,
.item-5-mobile p, .item-6-mobile p{
    font-size: 14px;
    margin-top: 15px;
    max-width: 382px;
    line-height: 1.5;
}

.item-services-tablet{
    display: none;
}

.item-services-desktop{
    display: none;
}


/* TERMINA EL ESTILO DE SERVICES MOBILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */



/* PROJECTS-MOBILE-COMIENZA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.projects{
    background: #293A4A;
    padding:55px 0;
    
}

.projects-mobile{
    margin: 0 32px;
}

.item-projects-tablet{
    display: none;
}

.item-projects-desktop{
    display: none;
}

/*title 1 */

.projects-mobile .article1-projects-mobile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 72px;
}

.projects-mobile .article1-projects-mobile div:nth-child(1){
    background: #D4E617;
    width:72px;
    height: 2px;
    margin-right:24px; 
}

.projects-mobile .article1-projects-mobile div:nth-child(2){
    color: white;
    font-size:16px;
    font-weight: 700;
}

/*title 2 */

.projects-mobile .article2-projects-mobile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 67px;
}

.projects-mobile .article2-projects-mobile div:nth-child(1){
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-right: 20px;
    
}
/*
.projects-mobile .article2-projects-mobile div:nth-child(2){
    width: 72px;
    height: 2px;
    background: #D4E617;

}
*/

/* ITEM MOBILE */

.projects-mobile .item-projects-mobile .item-img-projects{
    margin-bottom: 20px;
}

.projects-mobile .item-projects-mobile .item-title-projects h4{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.projects-mobile .item-projects-mobile .item-parrafo-projects{
   color: white;
   font-size: 16px;
   font-weight: 500;
}

.projects-mobile .item1-projects,
.projects-mobile .item2-projects,
.projects-mobile .item3-projects{
    max-width: 500px;
    margin: auto;
    margin-bottom: 72px;
}

.projects-mobile .item4-projects{
    max-width: 500px;
    margin: auto;
}

/* PROJECTS-MOBILE-TERMINA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/* FOOTER-MOBILE-COMIENZA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

footer{
    background: black;
    padding-top:70px;
}

.footer-tablet{
    display: none;
}

.footer-mobile{
    margin: 0 31px;
}

.footer-mobile .logo-footer-mobile{
    text-align:center;
    margin-bottom: 53px;
    
}

.footer-mobile article:nth-child(2){
    display: flex;
    justify-content: center
}

.footer-mobile article:nth-child(2) p{
    color: white;
    min-width: 270px;
    max-width: 270px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 82px;
    text-align: center;
}

.footer-mobile article:nth-child(3){
    text-align: center;
}

.footer-mobile article:nth-child(3) p{
    margin: 0 61px;
    margin-bottom:77px;
    color: white;
    font-weight: 700;
    font-size: 23px;
}

.footer-mobile article:nth-child(4) div{
    text-align: center;
    margin-bottom: 66px;
}

.footer-mobile article:nth-child(4) button{
    background: white;
    color: black;
    font-weight:700;
    font-size: 18px;
    border: none;
    border-radius:10px;
    padding: 20px 31px;
    cursor: pointer;
    transition: all 0.3s;
}

.footer-mobile article:nth-child(4) button:hover{
    background: #D4E617;
    color:#293A4A; 
}

.footer-mobile article:nth-child(5) div{
    text-align: center;
}

.footer-mobile article:nth-child(5) div p{
    margin-bottom: 83px;
    cursor: pointer;
}

.footer-mobile article:nth-child(5) div a{
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 63px;
}

.footer-mobile article:nth-child(6) div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}

.footer-mobile article:nth-child(6) div img{
    flex-wrap: wrap;
    margin: 0 40px; 
}

.footer-mobile article:nth-child(7) p{
    color: white;
    font-size:16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 5px;
    
}

/* FOOTER-MOBILE-TERMINA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/





/* COMIENZA ESTILO DEL NAV TABLET Y DESKTOP */

@media (min-width:502px){
    .container-nav-mobile{
        display: none;
    }
    .container-nav-tabletydesktop{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .logo-desktop{
        width: 77px;
        height: 53px;
        margin-top: 21px;
        margin-bottom: 21px;
        margin-left: 29px;
        
    }
    
    .ul-tabletydesktop{
        display: flex;
    }
    
    .ul-tabletydesktop li{
        list-style: none;
        color: white;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
    }
    
    .ul-tabletydesktop li a{
        transition: ease-in-out 0.1s;
    }
    
    .ul-tabletydesktop li a:hover{
        color: black;
    }
    
    .ul-tabletydesktop li:nth-child(5){
        background:white;
        color:#293A4A;
        transition: ease-in-out 0.3s;
    }
    .ul-tabletydesktop li:nth-child(5):hover{
        background:#D4E617;
        color:#293A4A; 
    }
    
    /* COMIENZA EL ESTILO DE ABOUT TABLET */
    
    .about-mobile article:nth-child(2) h1{
        max-width: 100%;
    }
    
    .about-mobile article:nth-child(3) p{
        max-width: 100%;
    }
    
     /* TERMINA EL ESTILO DE ABOUT TABLET */
    
    /* COMIENZA EL ESTILO DE SERVICES MOBILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    
    .item-1-mobile, .item-2-mobile,
    .item-3-mobile, .item-4-mobile,
    .item-5-mobile, .item-6-mobile{
        justify-content: center;
            
    }
    
    
    /* TERMINA EL ESTILO DE SERVICES MOBILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    

    
}

@media (min-width:768px){
    .ul-tabletydesktop li{
        margin: 0 10px;
    }
    
/*COMIENZA EL HEADER PARA TABLE ESTILO */
    
    .header-tablet{
        display: block;
    }
    
    .header-tablet h1{
        display: none;
    }
    
    .header-tablet .content-button-tablet{
        display: none;
    }
    
    .header-mobile h1{
    position: absolute;
    top: 55px;
    text-align: left;
    max-width: 350px;
    left: 70px;
    }
    
    .content-img-mobile{
     display: none;
    }
    
    .header-img-tablet{
        display: block;
        text-align: right;
    }
    
    .header-img-tablet img{
        max-width:666px;
    }
    
    .content-button-mobile{
     top: 280px;
     left: 74px;
    }
    
    /*TERMINA EL HEADER PARA TABLE ESTILO */
    
      /* COMIENZA EL ESTILO DE ABOUT TABLET */
    
    .about-mobile article:nth-child(1) div:nth-child(2) p{
        font-size: 16px;
    }
    
    .about-mobile article:nth-child(2) h1{
        font-size: 32px;
        max-width: 561px;
    }
    
    .about-mobile article:nth-child(3) p{
        margin:31px;
        font-size: 18px;
      
    }
    
    .about-mobile article:nth-child(5){
        display: none;
    }
    
    .about-mobile article:nth-child(6){
        display: none;
    }
    
    .about-tablet{
        display: block;  
    }
    .about-tablet article:nth-child(1) div{
        text-align: center;
        margin-top: 85px;
    }
    
    .about-tablet article:nth-child(2) p{
        margin-top: 103px;
        margin-left: 31px;
        margin-bottom:76px;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    .about-tablet article:nth-child(2) div{
        display: flex;
        margin:0 80px;
        justify-content: center;
        align-items: center;
    }
    
    .about-tablet article:nth-child(2) .fila-1{
        margin-bottom: 80px;
    }
    
    .about-tablet article:nth-child(2) .fila-1{
        margin-bottom: 80px;
    }
    
    .about-tablet article:nth-child(2) .fila-2{
        padding-bottom: 80px;
    }
    
     /* TERMINA EL ESTILO DE ABOUT TABLET */
    
    
    /* COMIENZA EL ESTILO DE SERVICES TABLET xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    
    .item-services-mobile{
        display: none;
    }
    
    .item-services-tablet{
        display: block;
    }
    
    .fila1-tablet-services,
    .fila2-tablet-services,
    .fila3-tablet-services{
        display: flex;
        justify-content: center;
    }
    
     /* TERMINA EL ESTILO DE SERVICES TABLET xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    
        /* PROJECTS-TABLET-COMIENZA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    .item-projects-mobile{
        display: none;
    }
    
    .item-projects-tablet{
        display: block;
    }
    .fila-1-projects-tablet{
        display: flex;
        justify-content: space-around;
    }
    .fila-2-projects-tablet{
        display: flex;
        justify-content: space-around;
    }
    
.projects-mobile .item-projects-tablet .item-img-projects{
    margin-bottom: 20px;
}

.projects-mobile .item-projects-tablet .item-title-projects h4{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.projects-mobile .item-projects-tablet .item-parrafo-projects{
   color: white;
   font-size: 16px;
   font-weight: 500;
}
    
.projects-mobile .item1-projects,
.projects-mobile .item2-projects, 
.projects-mobile .item3-projects, 
.projects-mobile .item4-projects{
    max-width: 386px;
    margin-bottom: 72px;
}
    
    
    
     /* PROJECTS-TABLET-TERMINA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    
    /* FOOTER-TABLET-COMIENZA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.footer-mobile{
    display:none;
}

.footer-tablet{
    display: block;
    margin: 0 78px;
}


/*parte1*/
.footer-tablet article:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 60px;
}

.footer-tablet article:nth-child(1) div:nth-child(2){
    display: flex;
    align-items: center;
}

.footer-tablet article:nth-child(1) div:nth-child(2) p{
    color: white;
    font-size: 21px;
    font-weight: 700;
    margin-right: 40px;
}

.footer-tablet article:nth-child(1) div:nth-child(2) button{
   padding: 16px 25px;
   background: white;
   border: none;
   border-radius: 4px;
   transition: all .3s;
}
    
.footer-tablet article:nth-child(1) div:nth-child(2) button:hover{
   background: #D4E617;
   color:#293A4A; 
    
}
    
    
/*parte2*/
.footer-tablet article:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    margin-bottom: 60px;
}

.footer-tablet .parte-1-tablet-footer{
    min-width:250px;
    max-width: 250px;
}

.footer-tablet .parte-1-tablet-footer p{
    line-height: 1.5;
}

.footer-tablet .parte-2-tablet-footer{
    display: flex;
    justify-content: space-around;
}

.footer-tablet .parte-2-tablet-footer div p{
    margin-bottom: 20px;
}

.footer-tablet .parte-2-tablet-footer div:nth-child(2){
    margin: 0 25px;
}

/*parte 3*/
.footer-tablet article:nth-child(3) div{
    display: flex;
    justify-content: flex-end;
    margin: 0 30px;
    margin-bottom: 15px;
    margin-right: 0;
    
}
/*parte 4*/
.footer-tablet article:nth-child(4){
    color: white;
    text-align: center;
    font-size: 13px;
}

/* FOOTER-TABLET-TERMINA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    
}

@media (min-width:900px){
    .logo-desktop{
        width: 100px;
        height: auto;
        margin-left: 0;
    }
    
    .ul-tabletydesktop li{
        margin: 0 20px;
    }
    
    /* FOOTER-TABLET COMIENZA */
    
    .footer-tablet .parte-2-tablet-footer div:nth-child(2){
        margin: 0 68px;
    }
    
    /* FOOTER TABLET TERMINA */
    
     
    
}

@media (min-width:1024px){
    
    /* COMIENZA EL ESTILO DE HEADER TABLET Y DESKTOP */
    
    .header-mobile{
        display: none;
    }
    
    .header-img-mobile{
        display: none;
    }
    
    .header-tablet{
        display: block;
        position: relative;
    }
    
    .header-tablet h1{
        display: block;
        position: absolute;
        font-size: 48px;
        color: #293A4A;
        max-width:550px;
        top: 95px;
        left: 91px;   
    }
    
      .header-img-tablet{
        text-align: right;
        margin-top: -35px;
    }
    
    .header-img-tablet img{
        max-width:732px;
    }
    
    .header-tablet .content-button-tablet{
        display: block;
        position: absolute;
        top: 384px;
        left: 100px;
    }
    
    .header-tablet .content-button-tablet button{
        background: #293A4A;
        padding: 10px 25px;
        color: white;
        font-size: 28px;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        transition: ease-in-out 0.3s;
    }
    
    .header-tablet .content-button-tablet button:hover{
        background: #D4E617;
        color:#293A4A; 
    }
    
    .container-nav-tabletydesktop{
        justify-content:space-between;
    }
    .logo-desktop{
        width: 100px;
        height: auto;
        margin-left: 97px;
    }
    
    .ul-tabletydesktop{
        margin-right: 85px;
    }
    
    .ul-tabletydesktop li{
        font-size: 18px;
    }
    
     /* COMIENZA EL ESTILO DE ABOUT TABLET */
    
    .about-mobile article:nth-child(1) div{
        margin-top: 70px;
        
    }
    
    .about-mobile article:nth-child(1) div:nth-child(1){
        margin-left: 62px;
    }
    
    .about-mobile article:nth-child(2) h1{
        font-size: 48px;
        max-width: 870px;
        margin-top: 45px;
        margin-left: 62px;
    }
    
    .about-mobile article:nth-child(3) p {
        margin-top: 46px;
        margin-bottom: 65px;
        max-width:1332px;
        margin-left: 62px;
    }
    
    .about-mobile article:nth-child(4) div{
        margin-left: 62px;
    }
    
    .about-tablet article:nth-child(2) p{
        margin-left: 62px;
        margin-bottom: 45px;
    }
    
    .about-tablet article:nth-child(2) div{
        margin:0 128px;
    }
    
    .about-tablet article:nth-child(2) .fila-1{
        margin-bottom: 80px;
    }
    
    .about-tablet article:nth-child(2) .fila-2{
        padding-bottom: 80px;
    }
    
    
     /* TERMINA EL ESTILO DE ABOUT TABLET */
    
    
    /* COMIENZA ESTILO SERVICES TABLET */
    
    .services-mobile .titulo-mobile p{
        font-size: 27px;
    }
    
    .item-1-mobile p, .item-2-mobile p,
    .item-3-mobile p, .item-4-mobile p,
    .item-5-mobile p, .item-6-mobile p{
        font-size: 16px;
    }
    
    .item-1-mobile h4, .item-2-mobile h4,
    .item-3-mobile h4, .item-4-mobile h4,
    .item-5-mobile h4, .item-6-mobile h4{
        font-size: 20px;
    }
    
     /* TERMINA ESTILO SERVICES TABLET */
    
    
     /* PROJECTS-TABLET-COMIENZA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    
    .projects-mobile .article2-projects-mobile div:nth-child(1){
        font-size: 23px;
    }
    
     /* PROJECTS-TABLET-TERMINA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    
    
    
    /* FOOTER TABLET COMIENZA XXXXXXXXXXXXXXXXXXXXXXXX */
    .footer-tablet .parte-1-tablet-footer{
        max-width: 350px;
    }
    
    /* FOOTER TABLET TERMINA XXXXXXXXXXXXXXXXXXXXXXXX */
}

/* COMIENZA EL ESTILO DE DESKTOP PARA ABOUT*/
@media (min-width:1440px){
    .about-mobile{
        display: none;
    }
    
    .about-tablet{
        display: none;
    }
    .about{
        padding: 40px 0;
    }
    
    
    .about-desktop{
        display: block;
    }
    
    .about-desktop{
    margin:0 84px;
    font-family: roboto, sans-serif;
    color: black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}



    .article-1{
   display: flex;
   justify-content: flex-start;
   align-items:center;
   align-self:flex-start;
   grid-column-start: 1;
   grid-column-end: 3;
    }

    .article-1 div:nth-child(1){
    width: 72px;
    height: 2px;
    background: #D4E617;
    margin-right: 20px;
    }

    .article-1 div:nth-child(2) p{
    padding: 0;
    margin: 0;
    color: white;
    }

    .titulo{
   grid-area: titulo;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
   color: white;
   font-size: 22px;
   font-weight: 700;
   display: flex;
   align-items: flex-start;
    }

    .titulo h2{
    margin: 0;
    }

    .parrafo{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    }

    .boton{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    }

    .content-boton button{
    padding: 15px 25px;
    color: #293A4A;
    background: #D4E617;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    }
    
    .content-boton button:hover{
        background: white;
        color: #293A4A;
    }

    .video{
    grid-column-start: 6;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 8;
    }

    .article-2{
    grid-column: 1/3;
    grid-row-start: 9;
    color: white;
    margin: 30px 0;
    }

    .article-3{
    grid-row-start: 10;
    grid-column: 1/-1;
    display: flex;
    justify-content:center;
    align-items: center;
    }
    
    .article-3 div{
        margin: 0 25px;
    }
    
    /*TERMINA EL ESTILO DE DESKTOP PARA ABOUT*/
    
    /* COMIENZA EL ESTILO DE DESKTOP PARA SERVICES */
    
    .item-services-tablet{
        display: none;
    }
    
    .item-services-desktop{
        display: block;
    }
    
    .fila1-desktop-services{
        display: flex;
        justify-content: space-around;
    }
    
    .fila2-desktop-services{
        display: flex;
        justify-content: space-around;
    }
    
      /* PROJECTS-DESKTOP-COMIENZA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    .item-projects-tablet{
        display: none;
    }
    .item-projects-desktop{
        display: block;
        display: flex;
        justify-content: space-around;
    }
    
    .projects-mobile .item-projects-desktop .item-img-projects{
    margin-bottom: 20px;
    }

    .projects-mobile .item-projects-desktop .item-title-projects h4{
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }

    .projects-mobile .item-projects-desktop .item-parrafo-projects{
       color: white;
       font-size: 16px;
       font-weight: 500;
    }

    .projects-mobile .item1-projects,
    .projects-mobile .item2-projects, 
    .projects-mobile .item3-projects, 
    .projects-mobile .item4-projects{
        max-width: 404px;
        margin: 0 10px;
    }
    
     /* PROJECTS-DESKTOP-TERMINA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    
    /* FOOTER TABLET COMIENZA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    .footer-tablet .parte-2-tablet-footer div:nth-child(2){
        margin: 0 168px;
    }
    /* FOOTER TABLET TERMINA XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
}

@media (min-width:1920px){
    
    .about-desktop{
        max-width: 1800px;
        margin: 44px auto;
    }
    
    .article-3 div{
        margin: 0 82px;
    }
    
    .header-img-tablet img{
        max-width: 994px;
    }
    
    .header-tablet h1{
        font-size: 68px;
        max-width: 739px;
    }
    
    .header-tablet .content-button-tablet{
        top: 553px;
    }
    
    .video{
        grid-column-start: 7;
    }
    
    .video img{
        max-width: 423px;
    }
}


